@use "vars";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline-style: none !important;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

