@use 'sass-utils' as *;


@mixin grid($gap,$colnum) {
    display: grid;
    grid-template-columns: repeat($colnum, minmax(0, 1fr));
    gap: $gap;
}

$margin: 0px .5rem;


.flexDiv {
    @include grid(20px,2);
    overflow: hidden;
    margin-top: 20px;
}

.cardDiv {
    overflow: scroll;
    height: 80vh;
    scroll-snap-type: both mandatory;

}

.card{
    @include grid(5px,2);
    margin-bottom: 50px;
    background-color: $main-blue;
    padding: 20px;
    border-radius: $border-radius;

    img {
        height: 250px;
    }
    h1 {
        font-size: 24px;
    }
    p{
        margin-bottom: 4px;
        font-size: 12px;
        text-transform: uppercase;
        color: $secondary-blue
    }
}

.searchForm {
    input {
        padding: 10px;
        border-radius: $border-radius;
        border: solid 2px $main-yellow;
        margin-bottom: 10px;
        &:hover {
            border: solid 2px $main-blue;

        }
        &:focus {
            border: solid 2px $main-blue;

        }
    }
    p{
        margin-bottom: 2px;
        font-size: 10px;
        text-transform: uppercase;
        color: $secondary-blue
    }

    button {
        padding: 10px 30px 10px 30px;
        background-color: $main-blue;
        text-transform: uppercase;
        color: white;
        border: none;
        border-radius: $border-radius;
        &:hover {
            background-color: $secondary-blue;
        }
        &:active {
            transform: translateY(2px)
          }
    }
}

.nav {
    height: 50px;
    width: 100%;
    background-color: $main-yellow;
}

//MEDIA QUERIES

@media (max-width: 768px) {
    .flexDiv {
        @include grid(20px, 1)
    }
    .card {
        @include grid(50px, 1)
    }
}
